<%
  def link_to(name, url)
    return "<a href='#{url}'>#{name}</a>"
  end
  %>


<html>
  <body>
    <h1 style="color: red; text-align: center" > <strong> Texas Rangers 2014 Top Prospects</strong></h1>
    <p>
      <a href='me.html'>About the Author</a>
    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h2>Friends</h2>
      <%= link_to('Lone Star Ball', 'www.lonestarball.com') %>
      <%=link_to('Minor League Baseball', 'www.milb.com') %>
        <p>*Schindler*</p>
        <%= Time.now %>
        <br>
      <% if @request.query['first_name'] && !@request.query['first_name'].empty? %>
        Hello there <%= @request.query['first_name'] %>
      <% else %>
             <form method='post' action="<%= @request.path %>">
            First name: <input type="text" name="first_name" placeholder='first name'/><br />
            <input type="submit" value="Submit" />
      <% end %>
        </form>
    </div>
  </body>
</html>